<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>344204788213-e0c5s123cc0u5q1r513iverqiajhoprp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.344204788213-e0c5s123cc0u5q1r513iverqiajhoprp</string>
	<key>API_KEY</key>
	<string>AIzaSyASB0A_1PI0blBtCy9xBkqBCfVewcsCdvI</string>
	<key>GCM_SENDER_ID</key>
	<string>344204788213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-ee285</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-ee285.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344204788213:ios:9618e41ea84d91703920bc</string>
</dict>
</plist>